@font-face {
  font-family: "Zaio";
  src: url("Zaio.otf") format("opentype"),
       url("Zaio.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #F3F3F3;
  overflow: hidden;
}

.bola{
  display: none;
  width: 650px;
  height: 650px;
  border-radius: 100%;
  background-color: #FABA15;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
}

.content{
  box-sizing: border-box;
  padding: 45px 25px 0px 25px;
  position: absolute;
  height: 100vh;
}

.content h1{
  font-family: 'Zaio', serif;
  font-size: 60px;
  color: #FABA15;
  line-height: 60px;
  margin-bottom: 45px;
  position: relative;
}

.content h1::before, .content h1::after{
  content:"";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #292929;
}

.content h1::before{
  transform: translateX(-40%);
  margin-bottom: 15px;
}

.content h1::after{
  transform: translateX(40%);
  margin-top: 20px;
}

.content p{
  max-width: 715px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #292929;
}

.content a{
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #292929;
}

.content a:hover{
  color: #FABA15;
}

@media screen and (min-width: 470px){
  .content h1{
    font-size: 90px;
    line-height: 80px;
  }

  .content p{
    font-size: 18px;
  }
}

@media screen and (min-width: 680px){
  .content{
    padding-top: 70px;
  }

  .content h1{
    font-size: 100px;
    line-height: 80px;
    margin-bottom: 70px;
  }

  .content p{
    font-size: 18px;
  }
}

@media screen and (min-width: 750px){
  .content h1{
    font-size: 80px;
  }

  .bola{
    display: block;
    right: -30%;
    bottom: -60%;
  }
}

@media screen and (min-width: 830px){
  .content h1{
    font-size: 90px;
  }
}

@media screen and (min-width: 915px){
  .content h1{
    font-size: 100px;
  }
}

@media screen and (min-width: 915px){
  .content h1{
    font-size: 100px;
  }
}

@media screen and (min-width: 1024px){
  .bola{
    right: -20%;
    bottom: -50%;
  }

  .content{
    width: 1024px;
    height: 100vh;
    margin-left: 50%;
    transform: translateX(-50%)
  }

  .content h1::after, .content h1::before{
    width: 480px;
    transform: translateX(0%);
  }

  .content h1::before{
    margin-left: -50px;
  }

  .content h1::after{
    position: absolute;
    bottom: -30px;
    right: -50px;
  }
}
