*{
  margin: 0px;
  padding: 0px;
}

@font-face{
  font-family: "Zaio";
  src: url("zaio.otf") format("opentype");
  src: url("zaio.ttf") format("truetype")
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  background-color: #f3f3f3;
  overflow-x: hidden;
}

#bola{
  width: 715px;
  height: 715px;
  border-radius: 360px;
  background-color: #FABA15;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: translate(30%, 35%);
  z-index: -1;
}

#conteudo{
  /* background-color: red; */
  height: 100vh;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

#grande{
  font-family: 'Zaio', sans-serif;
  font-size: 100px;
  color: #292929;
}

#grande::before{
  content: "";
  display: block;
  width: 500px;
  height: 4px;
  background-color: #292929;
  margin-left: -50px;
}

#grande::after{
  content: "";
  display: block;
  width: 500px;
  height: 4px;
  margin-top: 10px;
  background-color: #292929;
  transform: translateX(100%);
}

#pequeno{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  max-width: 715px;
  margin-top: 75px;
  color: #292929;
}

#pequeno a{
  color: #292929;
}

@media only screen and (max-width: 1280px) {
  #bola{
    transform: translate(40%, 45%);
  }
}

@media only screen and (max-width: 1024px) {
  #bola{
    display: none;
  }

  #grande{
    font-size: 90px;
  }

  #pequeno{
    font-size: 16px;
  }
}

@media only screen and (max-width: 960px){
  #grande{
    font-size: 80px;
  }
}

@media only screen and (max-width: 640px){
  #conteudo{
    padding-top: 50px;
  }

  #grande::after{
    transform: translateX(-50px);
  }

  #pequeno{
    margin-top: 50px
  }
}

@media only screen and (max-height: 500px){
  body{
    overflow-y: visible;
  }


}

@media only screen and (max-width: 500px){
  #conteudo{
    padding-top: 50px;
    padding-left: 50px;
  }

  #grande{
    font-size: 50px;
  }

  #pequeno{
    font-size: 14px;
    margin-top: 30px;
  }
}

@media only screen and (max-height: 240px){
  body{
    background-color: red;
  }

  #conteudo{
    padding-bottom: 100px;
  }
}
