.contact-section {
  max-width: 660px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 200px;
  padding: 0 50px; }
  .contact-section h2 {
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    margin-bottom: 25px; }
  .contact-section p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: black;
    margin: 0px;
    margin-bottom: 15px; }
  .contact-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact-section form input[type="text"], .contact-section form input[type="email"] {
      background-color: none;
      width: 100%;
      font-family: 'Muli', sans-serif;
      font-size: 28px;
      font-weight: 100;
      padding: 0;
      border: none;
      border-bottom: 2px solid black;
      margin-bottom: 10px; }
      .contact-section form input[type="text"]:focus, .contact-section form input[type="email"]:focus {
        outline: none; }
    .contact-section form input[type="submit"] {
      border: none;
      background-color: white;
      font-family: 'Muli', sans-serif;
      font-size: 28px;
      font-weight: bold;
      margin-top: 10px;
      color: #333333;
      cursor: pointer; }
      .contact-section form input[type="submit"]:hover {
        color: black; }
