section.desc {
  max-width: 660px;
  margin: auto;
  margin-top: 140px;
  padding: 0 50px; }
  section.desc h1 {
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    margin-bottom: 25px; }
  section.desc p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin: 0px; }
