body {
  margin: 0px; }

nav.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 50px 0 50px; }
  nav.nav-bar a {
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #333333; }
    nav.nav-bar a:hover {
      color: black; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
