section.skills {
  max-width: 660px;
  margin: auto;
  margin-top: 140px;
  padding: 0 50px; }
  section.skills h2 {
    font-family: 'Muli', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin: 0px;
    margin-bottom: 25px; }
  section.skills div.list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}
    section.skills div.list ul {
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0px; }
      section.skills div.list ul:nth-child(2) {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        margin-left: 100px;}
      section.skills div.list ul li {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 28px;
        font-weight: 300;
        color: black;
        list-style: none; }
        section.skills div.list ul li:not(:last-child) {
          margin-bottom: 15px; }
